<app-manager-header></app-manager-header>
<mat-tab-group id="tab-group" dynamicHeight animationDuration="1000ms">
  <mat-tab label="用人成本維護">
    <div class="example-large-box">
      <br />
      <app-human-resource></app-human-resource>
    </div>
  </mat-tab>
  <mat-tab label="人事工作時數維護">
    <div class="example-large-box">
      <br />
      <app-worker-hours></app-worker-hours>
    </div>
  </mat-tab>
  <mat-tab label="作業費率維護">
    <div class="example-large-box">
      <br />
      <app-operating-rate></app-operating-rate>
    </div>
  </mat-tab>
</mat-tab-group>