<div class="wrapper fadeInDown">
  <div id="formContent">
    <br>
    <label class="title">
      <h3 class="welcome">主計室同仁您好!</h3>
      <h6 class="hint">請選擇欲進入的畫面</h6>
    </label>
    <div class="login-group">
      <button class="btn btn-info btn-lg" (click)="toApply()">申請者畫面</button><br /><br />
      <button class="btn btn-info btn-lg" (click)="toMaintain()">維護者畫面</button><br /><br />
      <button class="btn btn-info btn-lg" (click)="toCheck()">審核作業</button><br /><br />
      <div id="formFooter">
        <button class="btn btn-primary btn-lg" (click)="logout()">登出</button>
      </div>
      <br>
    </div>
  </div>
</div>